@import "../../../../styles/variables";

p{
    margin: 0 !important;
}
.p-l-4{
    padding-left: 4px;
}
.p-l-15{
    padding-left: 15px;
}
.m-t-20{
    margin-top: 20px;
}
.m-t-10{
    margin-top: 10px;
}

.balance-sheet{
    .list {
        .titleMargin{
            margin: 20px 0 30px 0;
        }
        .line{
            border: 1px solid;
        }
        .alignCenter{
            height: 36px;
            line-height: 34px;
        }
    }
}