.align-middle{
  vertical-align: middle;
}
.line{
  border: 1px solid;
}
tbody{
  th{
    font-weight: 400;
    vertical-align: middle;
    min-width: 130px;

  }
}
.p-l-4{
   margin: 0;
   margin-left: 4px;
 }
.m-t-20{
  margin-top:20px ;
}
.l-h-34{
  line-height: 34px;
}
.white-space-nowrap{
  white-space: nowrap;
}
.table-wrapper{
  overflow-x:auto ;
}
.min-w-80{
  min-width: 80px;
}
.min-w-120{
  min-width:120px;
}