<div class="alert-fixed">
    <alert dismissOnTimeout="5000" *ngIf="alert.msg" [type]="alert.type" dismissible="true">{{ alert?.msg }}</alert>
</div>
<div class="labour-sheet tab-content border-tab">
    <div class="inAndOutTab border-tab">
        <div class="content-body m-t-0">
            <div class="row m-t-20 m-b-10">
                <div class="col-lg-12">
                    <form class="form-inline">
                        <div class="form-group col-sm-6 col-lg-4">
                            <label>月份选择</label>
                            <datepicker name="msDate" [(ngModel)]="currentYearMonth" datepickerMode="month" minMode="month" (selectionDone)="selected($event)" class="dp-width-monthpicker">
                            </datepicker>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-sm table-hover fontStyle">
                                <thead class="thead-head">
                                    <tr>
                                        <!--<th class="text-xs-center"></th>-->
                                        <th class="text-center t-vertical-align " nowrap="nowrap">员工编号</th>
                                        <th class="text-center t-vertical-align " nowrap="nowrap">员工姓名</th>
                                        <th class="text-center t-vertical-align " nowrap="nowrap">证件号</th>
                                        <th class="text-center t-vertical-align " nowrap="nowrap">劳务费</th>
                                        <th class="text-center t-vertical-align " nowrap="nowrap">个税</th>
                                        <th class="text-center t-vertical-align " nowrap="nowrap">实发劳务费</th>
                                        <th rowSpan="2" class="text-center t-vertical-align " nowrap="nowrap">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of labourModel.employeePayrolls; let i=index;trackBy:trackBySalaryStuffs;">
                                        <td class="text-center ">{{item.number}}</td>
                                        <td class="text-center ">{{item.name}}</td>
                                        <td class="text-right ">{{item.idNo}}</td>
                                        <td>
                                            <ng2-numeric-input name="totalSalary" [(ngModel)]="item.totalSalary"   class="text-right" (blur)="taxLaborChange(i,item.totalSalary)"></ng2-numeric-input>
                                        </td>
                                        <td class="text-right ">
                                            {{ item.incomeTax | currency:'CNY':true:'1.2-2'}}
                                        </td>
                                        <td>
                                            <ng2-numeric-input name="nettSalary" [(ngModel)]="item.nettSalary"  class="text-right" (blur)="taxRealLaborChange(i,item.nettSalary)"></ng2-numeric-input>
                                        </td>
                                        <td>
                                            <button id="deleteContact" class="btn btn-secondary btn-circle-sm" (click)="openConfirmModal(item,i)" placement="top" tooltip="删除" lockIn>
                                             <i class="fa fa-trash"></i>
                                            </button>
                                        </td>

                                    </tr>
                                    <tr *ngIf="noData">
                                        <td colspan="7">
                                            <div class="noData">
                                                没有数据
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!noData">
                                        <td colspan="3" class="text-right ">合&nbsp;计</td>
                                        <td class="text-right ">{{ labourModel.sumLaborCost | currency:'CNY':true:'1.2-2'}}</td>
                                        <td class="text-right ">{{ labourModel.sumPTax | currency:'CNY':true:'1.2-2'}}</td>
                                        <td class="text-right ">{{ labourModel.sumRealLaborCost | currency:'CNY':true:'1.2-2'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 m-t-1 m-b-2">
                    <span class="pull-right">
                        <button class="btn btn-primary" (click)="openAsyncStuff()" [disabled]="isLock" lockIn>导入员工</button>
                        <button class="btn btn-primary" (click)="warnGenerate()" [disabled]="isLock" lockIn>生成本月劳务表</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<confirm-widget #confirmWidget (confirmEvent)="confirmEvn($event)" title="操作提示" [confirmText]="confirmBtn" cancelText="取消" [message]="confirmMsg"></confirm-widget>
<async-stuff #asyncStuff (done)="importDone($event)"></async-stuff>