@import "../../../../styles/variables";
.nav-link{
  color: $dark-slate-gray;
}

// 表格列表样式 start
.table {
    .thead-head {
        background-color: $Auxiliarycolor;
        th {
            vertical-align: middle;
            text-align: center;
            border: 1px solid $Formheaderbordercolor;
        }
    }
}
td {
  vertical-align: middle;
  text-align: center;
}
tbody{
  box-shadow: $basic-shadow;
}
// 表格列表样式 end

.contacts-detail{
    .searchArea{
        padding:15px !important;
    }
    .nav{
        margin-top: 40px;
    }
    .content-body{
        margin: 0 !important;
    }
    .list{
        padding-top: 30px;
    }
}