<div id="wrapper">
    <div class="leftSide">
        <!--左侧导航-->
        <sidebar [changeDirection]="changeDirection"></sidebar>
    </div>
    <div id="page-wrapper" class="gray-lighter-bg">
        <!--顶部导航条-->
        <navbar [hideOne]="hideOne"></navbar>
        <!--左侧收起左侧导航按钮-->
        <!--主要内容-->
        <main id="body" class="content">
            <router-outlet></router-outlet>
            <!--底部信息-->
            <footer style="height: 80px;"></footer>
        </main>
    </div>
    <browser-alert ></browser-alert>
</div>