<div class="alert-fixed " *ngFor="let alert of alerts">
    <alert dismissOnTimeout="5000" *ngIf="alert.msg" [type]="alert.type" dismissible="true">{{ alert?.msg }}</alert>
</div>
<div roles class="row">
    <div class="col-xs-12 padding-right-0">
        <button lockIn expire roles type="button" class="btn btn-primary pull-right" (click)="newDepartment()"><i class="fa fa-plus"></i> 添加</button>
    </div>
</div>
<div class="row m-t-1">
<div id="departmenTab" class="table-responsive">
    <table class="table table-striped table-hover table-sm table-condensed">
        <thead class="thead-head">
            <tr>
                <th width="40%">名称</th>
                <th width="40%">实缴金额(万元)</th>
                <!--<th width="25%">投资比例(%)</th>-->
                <th roles width="10%">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr id="departmentList" *ngFor='let item of dataList'>
                <td data-title="部门名称" class="text-left">
                    <span id="departmentName" class="text-ellipsis" title="{{item.name}}">{{item.name}}</span>
                </td>
                <td id="departmentType" data-title="实缴金额">{{item.amount | number:'1.4-4'}}</td>
                <!--<td id="departmentType" data-title="投资比例">{{item.shareProportion * 100 | number:'1.2-2'}}</td>-->
                <td roles data-title="操作">
                    <button  id="editDepartmentInfo" expire class="btn btn-secondary btn-circle-sm" (click)="editDepartment(item)" placement="top" tooltip="编辑">
                            <i class="fa fa-pencil"></i>
                    </button>
                    <button [disabled]="!item.isEdit" id="deleDepartmentInfo" expire class="btn btn-secondary btn-circle-sm" (click)="openDeleteModal(item)" placement="top" tooltip="删除">
                            <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr *ngIf="noDataList">
                <td colspan="4">
                    <div class="noData">您还没有股东信息，您可以点击右上角添加按钮进行自定义设置哦！</div>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<!--<div class="col-xl-12" *ngIf="lessThenShare">注:当前股东投资比例总和小于100%</div>-->
</div>
<div class="row" *ngIf="!noDataList">
    <div class="col-xs-12">
        <pagination class="pagination-sm pull-right" (pageChanged)="pageChanged($event)" [totalItems]="recordCount" [itemsPerPage]="pageSize" [(ngModel)]="pageIndex" [maxSize]="maxSize" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
            lastText="&raquo;"></pagination>
    </div>
</div>




<gpw-partner-detail-modal #partnerDetailModal (result)="result($event)"></gpw-partner-detail-modal>
<confirm-widget #confirmWidget (confirmEvent)="delete($event)" message="确定删除这个股东吗？"></confirm-widget>
