$color-grey:#e4e4e4;
.alert{
    margin:0 15px 16px 15px;
}
.form-control-file{
    display: inline-block;
}

.modal-dialog{
    margin: 150px auto;
    
}

.import-guide{
    text-align: center;
    padding-bottom: 30px;
    margin:0 auto;
    span{
        color: red;
    }
    a {
        color:#1CCFC9;
    }
    a:hover{
        color: #138c88;
        text-decoration: underline;
    }
}

.remark{
    margin-bottom: 40px;
    p{
        color: #9b9b9b;
        text-align: center;
    }
}

.choose-file{
    text-align: center;
    .btn-secondary{
        color: #1CCFC9;
        background-color:rgb(240,240,240);
        border: none;
    }
    .btn-secondary:hover{
        color: #1CCFC9 !important;
        background-color:rgb(230,230,230) !important;
        border: none !important;
    }
    .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    text-align: center;
    }
    .fileUpload input.upload {  position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 40px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

p{
    margin-top: 1rem;
    font-size:14px;
}

