.footer-bar {
  margin-left: -35px;
  margin-right: -35px;
  padding: 10px 0;
  position: absolute;
  bottom:0px;
  width: 100%;
  background: rgba(47,64,80,0.9) !important;
  color: #fff;
}

@media screen and (max-width: 769px) {
  .footer-bar {
    margin:0px auto !important;
    padding: 10px 10px !important;
    left:0;
    right:0;
    display:table;
  }
  
  .container{
    margin:0px auto;
    display:table-cell;
    vertical-align: middle;
    text-align:center;
    padding:0px;
    .phone{
      text-align:center;
    }
    .mail{
      text-align: center;
    }
    .p-l-3{
      padding:0px !important;
      text-align:center;
    }
  }
  
  .clear{
    clear:both;
  }
  
}
