<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body ">
                <button type="button" class="close" (click)="modal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="text-center">
                      再次结转之后，删除原来的结转凭证，生成新的结转凭证，凭证编号提示是否要重新整理?
                </p>
            </div>
            <div class="operation">
                <button class="btn btn-default btn-primary" (click)="save()">重新整理</button>
                <button class="btn btn-default btn-primary" (click)="carryForward()">直接结转</button>
            </div>
        </div>

    </div>
</div>